<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="accountList" class="row">

    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">John</h4>
                <p class="card-subtitle text-muted">SUPERADMIN</p>
                <p>Username: john</p>
                <p>Password: john</p>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Emma</h4>
                <p class="card-subtitle text-muted">EMPLOYEES_ADMIN</p>
                <p>Username: emma</p>
                <p>Password: emma</p>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">John</h4>
                <p class="card-subtitle text-muted">SUPERADMIN</p>
                <p>Username: john</p>
                <p>Password: john</p>
            </div>

        </div>
    </div>


    <!--DEPARTMENTS_CREATE,DEPARTMENTS_READ,DEPARTMENTS_PAGE_VIEW-->

    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">William</h4>
                <p class="card-subtitle text-muted">DEPARTMENTS_CREATE,DEPARTMENTS_READ,DEPARTMENTS_PAGE_VIEW</p>
                <p>Username: william</p>
                <p>Password: william</p>
            </div>

        </div>

    </div>

    <!--CUSTOMERS_READ,CUSTOMERS_PAGE_VIEW-->
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Lucas</h4>
                <p class="card-subtitle text-muted">CUSTOMERS_READ,CUSTOMERS_PAGE_VIEW</p>
                <p>Username: lucas</p>
                <p>Password: lucas</p>
            </div>

        </div>

    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Tom</h4>
                <p class="card-subtitle text-muted">NO ROLE</p>
                <p>Username: tom</p>
                <p>Password: tom</p>
            </div>

        </div>
    </div>

</div>

</body>
</html>