<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Employees</h4>
          </div>
          <div class="card-body">
            <div th:replace="~{fragments/employee-table.html :: empTable}"></div>
          </div>
          <a href="#" class="btn btn-primary"
             th:href="@{/create-employee}">Create Employee</a>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>